<p style="color: green"><%= notice %></p>

<% @user.own_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
